name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job

    steps:
      # 1️⃣ Checkout do código
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false
          
      # 2️⃣ Instalar dependências (package.json está na raiz)
      - name: Install Node Dependencies
        run: npm install

      # 3️⃣ Gerar gallery_data.json na raiz
      - name: ⚙️ Gerar gallery_data.json a partir do Blob Storage
        run: node generate_gallery_data.js
        env:
          AZURE_STORAGE_CONNECTION_STRING: ${{ secrets.AZURE_STORAGE_CONNECTION_STRING }}
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_ZEALOUS_BEACH_0A5AABE03 }}
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.SUBSCRIPTION_ID }}

      # 4️⃣ Build do frontend (corre scripts do package.json na raiz)
      - name: Run Frontend Build
        run: npm run build
        
      # 5️⃣ Deploy para Azure Static Web Apps
      - name: Deploy to Azure Static Web Apps
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_ZEALOUS_BEACH_0A5AABE03 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"

          # Diretório onde está o frontend
          app_location: "frontend"
          output_location: ""
          api_location: ""

          
  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job

    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_ZEALOUS_BEACH_0A5AABE03 }}
          action: "close"
