name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false
          
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          # Use o seu token real aqui
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_ZEALOUS_BEACH_0A5AABE03 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Usado para integrações com o Github (i.e. comentários PR)
          action: "upload"
          
          ###### Configurações de Repositório/Build CORRIGIDAS ######
          # 1. App source code path: Aponta para a pasta onde o index.html está
          app_location: "frontend"
          
          # 2. Api source code path: Deixado vazio, pois não há Azure Functions
          api_location: ""
          
          # 3. Built app content directory: O conteúdo servível está na raiz da pasta 'frontend'
          output_location: "build"
          ###### Fim das Configurações de Repositório/Build ######
          app_build_command: "npm run build --prefix frontend"

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_ZEALOUS_BEACH_0A5AABE03 }}
          action: "close"


